body {
  font-family: GilroyReg;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-family: GilroyBold;
}

strong {
  font-family: GilroySemi;
}

.slide-opacity {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background: #0099cc;
  top: 0;
  z-index: 0;
}
.slider_r_all_cri {
  width: 550px;
  height: 550px;
  border: 2.5px solid #ffffff2e;
  border-radius: 100%;
  position: absolute;
  top: 53%;
  transform: translateY(-50%);
  right: 15px;
}
#slider .item .content h1 {
  font-size: 80px;
  line-height: 38px;
  letter-spacing: -3px;
}

#span_1, #span_2, #span_3 {
  width: 10px;
  height: 10px;
  display: block;
  background: white;
  border-radius: 100%;
  position: absolute;
}

#span_1{
  top: 91px;
  left: 57px;
}

#span_2 {
  top: 180px;
  right: 8px;
}

#span_3 {
  bottom: 50px;
  left: 101px;
}

#large-screen-menu {
  position: fixed;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 99;
  width: 100%;
  padding: 5px 0;
}
#large-screen-menu .logo img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#large-screen-menu .get-price-offer a {
  background: #fede00;
  color: black;
  text-align: center;
  padding: 7px 34px;
  border-radius: 22px;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0px 0px 11px 0px #5555558c;
  box-shadow: 0px 5px 25px 0px #5555554a;
  display: block;
  font-family: GilroySemi;
}
#large-screen-menu .get-price-offer a span {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  display: inline-block;
  letter-spacing: .3px;
}
#large-screen-menu ul {
  list-style: none;
}
#large-screen-menu ul li {
  margin: 0 10px;
  line-height: 90px;
}
#large-screen-menu ul li a {
  font-size: 15px;
  color: white;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
#large-screen-menu ul li a:hover {
  opacity: .7;
}
#large-screen-menu ul li:last-child {
  margin-right: 0;
}
#large-screen-menu ul .subed-li {
  position: relative;
  cursor: pointer;
}
#large-screen-menu ul .subed-li a svg {
  width: 10px;
  height: 7px;
  pointer-events: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  margin-left: 4px;
}
#large-screen-menu ul .subed-li a svg .dropdown__icon {
  fill: none;
  stroke: white;
  stroke-width: 1.5px;
  fill-rule: evenodd;
}
#large-screen-menu ul .subed-li ul {
  padding: 0;
  position: absolute;
  text-align: left;
  top: 60px;
  left: -25px;
  -webkit-box-shadow: 0 6px 30px rgba(0, 0, 0, 0.4);
          box-shadow: 0 6px 30px rgba(0, 0, 0, 0.4);
  background: #fff;
  border-radius: 20px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
#large-screen-menu ul .subed-li ul li {
  margin: 0;
}
#large-screen-menu ul .subed-li ul li a {
  display: block;
  padding: 17px 26px;
  font-size: 15px;
  color: #212121;
  line-height: 17px;
  text-decoration: none;
  border-bottom: 1px solid #e6e6e6;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  position: relative;
}
#large-screen-menu ul .subed-li ul li a:hover {
  background-color: #e6e6e6;
  opacity: 1;
}
#large-screen-menu ul .subed-li ul li:last-child a {
  border-color: transparent;
}
#large-screen-menu ul .subed-li:hover ul.submenu {
  opacity: 1;
  visibility: visible;
}
#large-screen-menu ul .subed-li:hover svg {
  -webkit-transform: rotate(180deg) translateY(2px);
          transform: rotate(180deg) translateY(2px);
}

#large-screen-menu.active {
  background-color: white;
}

#large-screen-menu.active ul .subed-li a svg .dropdown__icon {
  stroke: black;
}

#large-screen-menu.active ul li a {
  color: black;
}

#slider .item {
  height: 800px;
  background-size: cover;
  background-position: center center;
  position: relative;
}
#slider .item .overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #00000038;
}
#slider .item .content {
  color: white;
}
#slider .item .content h1 {
  font-size: 80px;
}
#slider .item .content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#slider .item .content ul li {
  font-size: 24px;
  margin-bottom: 5px;
}
#slider .item .content ul li:first-child{
  font-size: 51px;
  color: white;
}
#slider .item .content ul li:last-child{
  font-size: 19px;
  margin-bottom: 5px;
  color: #ffffff80;
}

#advantages {
  padding: 60px 0;
  padding-top: 40px;
}
#advantages ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 15px;
  position: relative;
}
#advantages ul::before {
  content: '';
  position: absolute;
  left: 70px;
  right: 70px;
  top: 67px;
  border: 1px solid #efefef8f;
}
#advantages ul li {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}
#advantages ul li .item {
  text-align: center;
}
#advantages ul li .item .top {
  position: relative;
}
#advantages ul li .item .top i {
  color: #46caf4;
  font-size: 37px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
#advantages ul li .item .bottom {
  color: #2e343d;
  position: relative;
}
#advantages ul li .item h2 {
  font-size: 17px;
  margin-bottom: 10px;
  font-family: GilroySemi;
}
#advantages ul li .item p {
  margin: 0;
  font-size: 13px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  color: #565656;
}

#products {
  padding-bottom: 45px;
  background-color: #f9f9f9;
  padding-top: 60px;
}
#products .item {
  border: 1px solid #ebebeb;
  background-color: white;
}
#products .item .image-wrapper {
  border-bottom: 1px solid #ebebeb;
  text-align: center;
  padding: 20px;
}
#products .item .image-wrapper img {
  max-width: 100%;
}
#products .item .content {
  padding: 12px 20px 8px 20px;
  height: 64px;
  display: flex;
  align-items: center;
}
#products .item .content p {
  margin: 0;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
#products .item .content p.title {
  color: black;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

}
#products .item .content p.price {
  font-size: 22px;
  color: #44c5ef;
}
#products .last-box {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 20px;
  color: white;
  background-size: cover;
  background-position: 20% 0%;
  overflow: hidden;
  border-radius: 6px;
}
#products .last-box a {
    width: 100%;
    font-size: 16px;
    font-family: 'GilroySemi';
    font-weight: 500;
    background: #fede01;
    color: #1a1b19;
    border-radius: 40px;
    padding: 11px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: block;
    text-align: center;
}
#products .last-box a:hover {
  background-color: #fff;
  color: #2354a5;
}
#products .last-box::before {    
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(20%, #000), to(transparent));
  background: linear-gradient(0deg, #000 20%, transparent);
}
#products .last-box h1 {
  font-size: 27px;
}
#products .last-box p {
  font-size: 14px;
  margin-bottom: 20px;
  font-family: 'GilroyReg';
}
#products .content {
  position: relative;
}

#product-category {
  padding-top: 60px;
  padding-bottom: 45px;
}
#product-category .product-wrapper {
  padding: 0 15px;
  margin-bottom: 25px;
}
#product-category .product-wrapper .item {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  position: relative;
  padding: 25px 10px 25px 25px;
  border-radius: 10px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#product-category .product-wrapper .item:hover {
  opacity: .8;
}
#product-category .product-wrapper .item::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 40%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75)), to(transparent));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.75), transparent);
}
#product-category .product-wrapper .item h1 {
  font-size: 17px;
  color: #fff;
  position: relative;
  z-index: 2;
  margin: 0;
  letter-spacing: 1px;
}
#product-category .product-wrapper:first-child .item, #product-category .product-wrapper:nth-child(2) .item, #product-category .product-wrapper:nth-child(5) .item, #product-category .product-wrapper:nth-child(6) .item {
  height: 340px;
}
#product-category .product-wrapper:nth-child(3) .item, #product-category .product-wrapper:nth-child(4) .item {
  height: 155px;
}
#product-category .product-wrapper:nth-child(3), #product-category .product-wrapper:nth-child(4), #product-category .product-wrapper:nth-child(2) {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}
#product-category .product-wrapper:nth-child(4) {
  position: absolute;
  top: 185px;
  right: 0;
  width: 25%;
}
#product-category .product-wrapper:nth-child(5), #product-category .product-wrapper:nth-child(6), #product-category .product-wrapper:first-child {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media (max-width: 768px) {
  #product-category .product-wrapper .item {
    height: 200px !important;
  }
  #product-category .product-wrapper:nth-child(4), #product-category .product-wrapper:nth-child(7), #product-category .product-wrapper:nth-child(10){
    position: unset;
    flex-basis: 50%;
    width: 50%;
  }
  #product-category .product-wrapper:nth-child(2), #product-category .product-wrapper:nth-child(3), #product-category .product-wrapper:nth-child(4), #product-category .product-wrapper:nth-child(5), #product-category .product-wrapper:nth-child(6), #product-category .product-wrapper:nth-child(8), #product-category .product-wrapper:nth-child(9){
      flex: 0 0 50%;
      max-width: 50%;
  }
  #product-category .product-wrapper{
      margin-bottom: 25px;
  }
}

#referance {
  background-color: #f9f9f9;
  padding: 60px 0;
}
#referance h1 {
  color: #4f4f4f;
  margin-bottom: 28px;
  font-size: 36px;
  text-align: center;
}
#referance ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#referance ul li {
  margin-right: 20px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
#referance ul li a {
  display: block;
  width: 120px;
  height: 120px;
  border: 1px solid #efefef;
  line-height: 120px;
}
#referance ul li a img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
    background-color: white;
    padding: 14px;
}
#referance ul li:last-child {
  margin-right: 0;
}
#referance ul li:hover {
  opacity: .7;
}

#calltoaction {
  padding: 60px 0;
  background-attachment: fixed;
  background-image: url(../img/bg-question.png);
  position: relative;
}
#calltoaction::before {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(25, 139, 50, 0.7);
}
#calltoaction .content h1 {
  font-size: 36px;
  margin-bottom: 8px;
  color: white;
  letter-spacing: 1px;
}
#calltoaction .content p {
  color: white;
  margin-bottom: 0;
}
#calltoaction .button-wrapper a {
  background-color: white;
  padding: 16px;
  font-size: 16px;
  color: #606160;
  border-radius: 4px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  font-family: GilroySemi;
  display: inline-block;
}
#calltoaction .button-wrapper a:hover {
  color: white;
  background-color: #5bc873;
}

footer {
  padding-top: 60px;
  background-color: #222222;
}
footer .top {
  padding-bottom: 20px;
}
footer .top .logo img {
  max-width: 100%;
}
footer .top .menu-wrapper ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer .top .menu-wrapper ul li a {
  text-decoration: none;
  color: #a4a7ae;
  border-bottom: 1px solid transparent;
  font-size: 13px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
footer .top .menu-wrapper ul li a:hover {
  border-color: white;
  color: white;
}
footer .top .sm-screens-logo-and-number-wrapper a:last-child, footer .top .number a {
  color: white;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  font-size: 23px;
  display: inline-block;
  font-family: 'GilroySemi';
}
footer .top .sm-screens-logo-and-number-wrapper a:last-child:hover {
  color: #ffffff7a;
}
footer .top .number a:hover{
  opacity: .6;
}
footer .top .sm-screens-logo-and-number-wrapper a:last-child span, footer .top .number a span {
  color: #44c6f0;
}
footer .top .number a {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
footer .bottom {
  padding: 20px 0;
  position: relative;
}
footer .bottom::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  background-image: url(../img/footer-dots.svg);
}
footer .bottom .left-side p {
  color: white;
  margin: 0;
  font-size: 13px;
}
footer .bottom .right-side a {
  font-size: 13px;
  color: white;
}
footer .bottom .right-side a img {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
footer .bottom .right-side a:hover img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  #referance ul li a {
    width: 103px;
    height: 103px;
    line-height: 103px;
  }

  #referance ul li {
    margin-right: 15px;
  }

  footer .top .number a {
    font-size: 16px;
  }
}
@media (max-width: 991px) {
  #referance ul li:nth-child(even) {
    margin-top: 0;
  }

  #referance ul li:last-child {
    margin-right: 20px;
  }

  #referance ul li {
    margin-bottom: 20px;
  }

  footer .top .logo img {
    max-width: 200px;
  }

  footer .top .number a {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  footer {
    padding-top: 30px;
  }
}
@media (max-width: 768px) {
  #calltoaction {
    padding: 30px 0;
  }

  #referance ul li a {
    width: 100px;
    height: 100px;
    line-height: 100px;
  }

  #advantages ul li .item .bottom {
    min-height: 80px;
  }

  #advantages ul li {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}


#small-screen-menu {
  color: #24243B;
  border-bottom: solid 1px transparent;
  padding: 5px 0;
  position: relative;
  overflow: hidden;
  position: fixed;
  z-index: 97;
  width: 100%;
  transition: all .3s ease;
}
#small-screen-menu.active{
  border-color: #d6e0ee;
  background-color: white;
}
#small-screen-menu .logo img {
  max-width: 100%;
  max-height: 80px;
  padding-left: 15px;
}
#small-screen-menu .open-nav {
  padding: 15px;
}
#small-screen-menu .open-nav i {
  font-size: 22px;
  color: white;
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}
#small-screen-menu.active .open-nav i{
  color: black;
}

.small-screen-overlay {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000;
  z-index: 98;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.small-screen-overlay.active {
  visibility: visible;
  opacity: 0.8;
}

.small-screen-menu-nav {
  z-index: 99;
  position: fixed;
  width: 100%;
  top: 0;
}
.small-screen-menu-nav nav {
  position: absolute;
  right: -100%;
  z-index: 9999;
  background: linear-gradient(119deg, #c21416, rgba(194, 20, 22, 0.7), rgba(194, 20, 22, 0.4));
  height: 100vh;
  width: 80%;
  padding-left: 20px;
  -webkit-transition: all .5s ease;
  transition: all .3s ease;
  padding: 35px;
  padding-top: 90px;
  overflow-y: scroll;
}
.small-screen-menu-nav nav.active {
  right: 0;
}
.small-screen-menu-nav .close-menu {
  padding: 15px;
  position: absolute;
  right: 15px;
  top: 15px;
}
.small-screen-menu-nav .close-menu i {
  font-size: 25px;
  color: white;
}

body.active {
  overflow-y: hidden;
  -webkit-overflow-scrolling: hidden;
  touch-action: none;
  -ms-touch-action: none;
}

footer .top .sm-screens-logo-and-number-wrapper a:last-child{
  font-size: 16px;
  transform: translateY(3px);
}

.small-screen-menu-nav nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.small-screen-menu-nav .subed-li a svg {
  width: 10px;
  height: 7px;
  pointer-events: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  margin-left: 4px;
}
.small-screen-menu-nav .subed-li a svg .dropdown__icon {
  fill: none;
  stroke: white;
  stroke-width: 1.5px;
  fill-rule: evenodd;
}
.small-screen-menu-nav nav ul li.subed-li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.small-screen-menu-nav nav ul li a {
  display: inline-block;
  border-bottom: 1px solid #c21416;
  font-family: "GilroySemi";
  width: 100%;
  position: relative;
  font-size: 18px;
  color: white;
  letter-spacing: 0;
  padding: 10px 0;
}
.small-screen-menu-nav nav ul li a svg.active {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.small-screen-menu-nav nav ul li.subed-li ul {
  padding-left: 30px;
}
.small-screen-menu-nav nav ul li.subed-li ul li a {
  font-size: 14px;
}
@media (max-width: 768px){
  #slider .item .content h1{
    font-size: 46px;
  }
  #slider .item .content ul li:first-child{
    font-size: 30px;
  }
  #slider .item .content ul li:last-child{
    font-size: 12px;
  }
  #slider .item{
    height: 400px;
  }
  .slider_r_all_cri{
    width: 280px;
    height: 280px;
  }
  #span_3{
    left: 21px;
  }
  #span_2{
    right: 2px;
  }
  #span_1 {
    top: -6px;
    left: 127px;
  }
  #product-category .product-wrapper .item{
    padding: 25px 10px ;
  }
  #product-category .product-wrapper .item h1{
    font-size: 14px;
  }
}
#slider .item{
  overflow: hidden;
}
.write-wp {
  position: fixed;
  bottom: 0;
  background-color: #67B02D;
  width: 100%;
  z-index: 2;
}
.write-wp a {
  color: white;
  width: 100%;
  display: inline-block;
}