body {
  font-family: GilroyReg;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-family: GilroyBold;
}

strong {
  font-family: GilroySemi;
}

#calltoaction {
  padding: 60px 0;
  background-attachment: fixed;
  background-image: url(../img/bg-question.png);
  position: relative;
}
#calltoaction::before {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(25, 139, 50, 0.7);
}
#calltoaction .content h1 {
  font-size: 36px;
  margin-bottom: 8px;
  color: white;
  letter-spacing: 1px;
}
#calltoaction .content p {
  color: white;
  margin-bottom: 0;
}
#calltoaction .button-wrapper a {
  background-color: white;
  padding: 16px;
  font-size: 16px;
  color: #606160;
  border-radius: 4px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  font-family: GilroySemi;
  display: inline-block;
}
#calltoaction .button-wrapper a:hover {
  color: white;
  background-color: #5bc873;
}

#referance {
  background-color: #000824;
  padding: 60px 0;
}
#referance h1 {
  color: white;
  margin-bottom: 28px;
  font-size: 36px;
  text-align: center;
}
#referance ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#referance ul li {
  margin-right: 20px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
#referance ul li a {
  display: block;
  width: 120px;
  height: 120px;
  border: 1px solid #4c5165;
  line-height: 120px;
}
#referance ul li a img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#referance ul li:nth-child(even) {
  margin-top: 10px;
}
#referance ul li:last-child {
  margin-right: 0;
}
#referance ul li:hover {
  opacity: .7;
}

#advantages {
  padding: 60px 0;
  padding-top: 40px;
}
#advantages ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#advantages ul li {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}
#advantages ul li .item {
  text-align: center;
}
#advantages ul li .item .top {
  position: relative;
}
#advantages ul li .item .top i {
  color: #46caf4;
  font-size: 37px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
#advantages ul li .item .bottom {
  color: #2e343d;
  position: relative;
}
#advantages ul li .item .bottom h2 {
  font-size: 17px;
  margin-bottom: 10px;
  font-family: GilroySemi;
}
#advantages ul li .item .bottom p {
  margin: 0;
  font-size: 13px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  color: #565656;
}
#advantages ul li .item .bottom a {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #9bbe45;
  background-color: transparent;
  border: 1px solid #9bbe45;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 3px;
  font-size: 13px;
  padding: 7px 12px;
  opacity: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  font-family: GilroySemi;
  top: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#advantages ul li .item .bottom a:hover {
  background-color: #7d9a36;
  color: white;
  border-color: #779333;
}
#advantages ul li .item .bottom a span {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  display: inline-block;
}
#advantages .item:hover .bottom p {
  opacity: 0;
}
#advantages .item:hover .bottom a {
  opacity: 1;
}

footer {
  padding-top: 60px;
  background-color: #222222;
}
footer .top {
  padding-bottom: 20px;
}
footer .top .logo img {
  max-width: 100%;
}
footer .top .menu-wrapper ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer .top .menu-wrapper ul li a {
  text-decoration: none;
  color: #a4a7ae;
  border-bottom: 1px solid transparent;
  font-size: 13px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
footer .top .menu-wrapper ul li a:hover {
  border-color: white;
  color: white;
}
footer .top .sm-screens-logo-and-number-wrapper a:last-child, footer .top .number a {
  color: white;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  font-size: 19px;
  display: inline-block;
}
footer .top .sm-screens-logo-and-number-wrapper a:last-child:hover, footer .top .number a:hover {
  color: #ffffff7a;
}
footer .top .number a {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
footer .bottom {
  padding: 20px 0;
  position: relative;
}
footer .bottom::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  background-image: url(../img/footer-dots.svg);
}
footer .bottom .left-side p {
  color: white;
  margin: 0;
  font-size: 13px;
}
footer .bottom .right-side a {
  font-size: 13px;
  color: white;
}
footer .bottom .right-side a img {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
footer .bottom .right-side a:hover img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  #referance ul li a {
    width: 103px;
    height: 103px;
    line-height: 103px;
  }

  #referance ul li {
    margin-right: 15px;
  }

  footer .top .number a {
    font-size: 16px;
  }
}
@media (max-width: 991px) {
  #referance ul li:nth-child(even) {
    margin-top: 0;
  }

  #referance ul li:last-child {
    margin-right: 20px;
  }

  #referance ul li {
    margin-bottom: 20px;
  }

  footer .top .logo img {
    max-width: 200px;
  }

  footer .top .number a {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@media (max-width: 768px) {
  #calltoaction {
    padding: 30px 0;
  }

  #referance ul li a {
    width: 100px;
    height: 100px;
    line-height: 100px;
  }

  #advantages ul li .item .bottom {
    min-height: 80px;
  }

  #advantages ul li {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
